@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	height: 100%;
	width: 100%;
}

body{
	width: 100%;
	height: 100%;
	padding: 5%;
	background: #16222A;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-repeat: no-repeat, no-repeat;
	background-position: right, left;
}

.mainContainer{
	width: 100%;
	height: 100%;
	padding: 5% 5%;
	overflow-x: hidden;
	overflow-y: scroll;
}
.mainContainer::-webkit-scrollbar{
	width: 5px;
}

.mainContainer::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.mainContainer::-webkit-scrollbar-thumb{
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: gray;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}


.container{
	font-family: "Lexend Deca", sans-serif;
  	font-optical-sizing: auto;
  	background-color: white;
  	padding: 5%;
  	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
  	border-radius: 5px;
  	display: flex;
  	flex-direction: column;
	align-items: center;
}

h2{
  	width: 100%;
  	height: auto;
  	text-align: center;
  	font-weight: 600;
  	font-style: normal;
  	font-size: 1.5rem;
  	margin-bottom: 30px;
}

p{
  	width: 100%;
  	height: auto;
  	font-weight: 400;
  	font-style: normal;
  	padding: 0 3%;
  	margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

a{
	background-color: green;
	padding: 15px;
	border-radius: 20px;
	border: 2px solid darkgreen;
	text-decoration: none;
	color: white;
	font-family: "Lexend Deca", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 600;
  	font-style: normal;
  	font-size: 1rem;
}