@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');


*{
	margin: 0;
	padding: 0;
	background-color: #000;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.content{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.content iframe{
	width: 100%;
	height: 100%;
 border: none;
  	animation: start 5s;
}

.content h1{
	font-size: 1.5rem;
	letter-spacing: .125rem;
	text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
	font-family: "Lexend Deca", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 600;
  	font-style: normal;
  	text-decoration: underline;
  	display: none;
}

button{
	font-size: 0.8rem;
	letter-spacing: .125rem;
	text-transform: uppercase;
    color: #fff;
	font-family: "Lexend Deca", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 600;
  	font-style: normal;
  	cursor: pointer;
	background: #2b5876;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding: 10px;
	border-radius: 10px;

 right: 0;
	top: 0;
  	position: absolute;
  	margin: 30px;

  	animation: start 5s;
}

button:hover{
	text-decoration: underline;
}

@keyframes start{
	0%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}

@media screen and (max-width: 800px){

	html, body{
		display: block;
		overflow: hidden;
	}

	.content iframe{
		opacity: 1;
		rotate: 90deg;
		width: 100vh;
		height: 100vw;
	}

	button{
		position: absolute;
		right: 0;
		top: 0;
		width: auto;
		font-size: 0.7rem;
		transform: rotateZ(90deg) translateX(50%);
		background: #2b5876;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		padding: 10px;
		border-radius: 10px;
		opacity: 0.5;
	}

}
 